<?xml version="1.0"?>
<launch>

    <node pkg="uvc_camera" type="uvc_camera_node" name="uvc_camera" output="screen">
      <!--remap from="/image_raw/compressed" to="/usb_cam/image_raw" /-->
      <remap from="/image_raw" to="/usb_cam/image_raw" />
      <param name="device" type="string" value="/dev/video1" />
      <param name="width" type="int" value="640" />
      <param name="height" type="int" value="480" />
      <param name="format" type="string" value="mjpg" />
      <param name="fps" type="int" value="47" />
      <!--param name="power_line_frequency"  type="int" value="60"/-->
      <param name="auto_exposure" type="bool" value="false" />
      <param name="exposure_absolute" type="int" value="110" />
      <!--param name="exposure_auto_priority" value="0" /-->
      <param name="auto_white_balance" type="bool" value="false" />
      <param name="white_balance_temperature" value="6500"/>
      <param name="brightness" value="48" />
      <param name="auto_focus" type="bool" value="false" />
      <param name="focus_absolute" type="int" value="0" />
      <param name="contrast" value="54" />
      <param name="saturation" value="85" />
      <param name="hue" value="-40" />
      <param name="gamma" value="100" />
      <param name="sharpness" value="3" />
      <!--param name="backlight_compensation" value="2" /-->
      <param name="gain" type="int" value="1" />
      <param name="auto_gain" type="bool" value="false" />
      <!--param name="horizontal_flip" value="0" /-->
      <!--param name="vertical_flip" value="0" /-->
    </node>
</launch>
